<h1 class="text-center">
	Listado de Quizes
</h1>
<%if(session.user){%>
	<div class="col-md-4">
		<a href="/quizes/new" class="btn btn-success">Nueva pregunta</a>	
	</div>
<%}%>
<div class="col-md-4 col-md-offset-4">

	<form action="/quizes" method="get" class="form-inline form-search" role="form">
		
		<div class="form-group">
			<input type="text" name="search" class="form-control" id="" placeholder="Buscar">
		</div>

		<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
	</form>	
</div>

<div class="lista_quizes">
	<div class="col-md-6 col-md-offset-3">
		
		<%
			if(quizes != 0){
		%>

		<div class="list-group">
			<% for(var i = 0;i<quizes.length;i++){%>
				<div class="item_categoria">
					<a href="/quizes/<%=quizes[i].id%>" class="list-group-item primary"><%=quizes[i].pregunta%></a>

					<%if(session.user){%>
					<a href="/quizes/<%=quizes[i].id%>/edit" class="edit btn btn-primary" ><i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Editar"></i></a>
					<form class="delete" action="/quizes/<%=quizes[i].id%>?_method=delete" method="POST">
						<button type="submit" onclick="return confirm('Borrar: <%=quizes[i].pregunta%>');" class="btn btn-danger"><i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Borrar"></i></button>
					</form>
					<%}%>
				</div> 
			<%}%>
		</div>
		<%}else{%>
			<h2 class="text-center">No se encontraron resultados para la búsquda</h2>
		<%}%>		
	</div>
</div>
